{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Personal site for Josh Pelkey">
    <meta name="author" content="Josh Pelkey">

    <title>18playlist</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/devicons/css/devicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/resume.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">
	<div class="col-md-6">
    <H1>18playlist <i class="fa fa-heart" style="color:red" aria-hidden="true"></i></H1>
    <p><i>Katie, I created this virtual mixtape for our 8th wedding anniversary
        (and 18 years together -- now more than half our lives!). For each one
        of these songs, I can clearly picture the moments all those years ago
        when we listened to these together. They are roughly in order from high
        school years, to Clemson/GT years, to working life and our first home,
        and finally where we are now with our two beautiful daughters. I'm sure
        there are so many more songs, but I kept it to 18. Which ones did I miss?
        I love you!</i><p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLxYTcQBfjNTquXVo6klLdcUAPBi-FMg_M"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<h3>1) Blink 182 - Josie</h3>
	<p><i>I think this is a good place to start. Listening to this in my white
        Jeep <s>Grand</s> Cherokee. The live album is probably more accurate, but I
        think this one in particular makes more sense as the kickoff to this
        mix.</i></p>

	<h3>2) Unwritten Law - Up All Night</h3>
	<p><i>This one reminds me of you, before we started really dating. This was
    a CD that you had in your Eclipse. You also had a blue Unwritten Law
    t-shirt?</i></p>

	<h3>3) Fenix TX - A Song for Everyone</h3>
	<p><i>If only I could have this song start as soon as I close the car door
        heading off for a drive. This one reminds me of driving around with you
    at night, probably with absolutely nothing to else to do.</i></p>

	<h3>4) Yellowcard - Drifting</h3>
	<p><i>For some reason, I remember playing the first few seconds of this song
    over and over again before actually letting the song play completely. I'm not
    sure why I did that, but also hey -- why not?</i></p>

	<h3>5) Tom Petty - Mary Jane's Last Dance</h3>
	<p><i>We listened to this one just a few times. Eventually we also had the
        Greatest Hits CD and saw Sir Tom Petty himself (and the Heartbreakers) in concert together.</i></p>

	<h3>6) The Movielife - Kelly Song</h3>
	<p><i>This one made the cut and I couldn't say why for sure. We didn't
        looove Movielife exactly -- but I do believe I
    burned you this album in my room in Archdale and clearly remember making
    some sweet CD art with a sharpie. That CD may be in our garage somewhere...
    (update: i wasn't able to find it but I did find <a
                    href="https://photos.app.goo.gl/U8AfeuCH7DfreJru8"
                    target="_blank">these
                    gems.</a>)</i></p>

	<h3>7) The Used - A Box Full of Sharp Objects</h3>
	<p><i>I think The Used serves as a solid transition from high school to
        college years. We saw them on the big stage at Warped Tour and the
        singer climbed to the top of the speaker cabinets -- way up there.</i></p>

	<h3>8) Minus The Bear - The Game Needed Me</h3>
	<p><i>Lots of Minus The Bear in the Eclipse and eventually Passat. I bought
    this CD at a Best Buy, probably right after we sat in Barnes and Noble --
    studying for classes.</i></p>

	<h3>9) Killswitch Engage - The End of Hearthache</h3>
	<p><i>We saw Killswitch, but I can't seem to remember if they were the
        headline. Definitely remember them playing this song. I want to say it
        was in Charlotte -- Tremont?</i></p>

	<h3>10) Appleseed Cast - Fishing in the Sky</h3>
	<p><i>I'm not sure if you will associate as many memories of this one -- but
    I definitely do. I think this was one track on some random mix CD that was
    stuck in your car for a long time. I would play this one pretty much every
    time you drove me around somewhere :)</i></p>

	<h3>11) Circa Survive - In Fear and Faith</h3>
	<p><i>I want to say that we listened to this a bunch while we lived in our
        first apartment at College Street. Or at least, that's always what I
        picture when I hear anything from this album.</i></p>

	<h3>12) Rise Against - Swing Life Away</h3>
	<p><i>I remember listening to this song in college with you and I would
        wonder what life would look like in another 5/10/20 years. I was hopeful
        that we'd be able to slow down and enjoy life together -- swinging on a
    porch looking out at the water...</i></p>

	<h3>13) Frou Frou - Let Go</h3>
	<p><i>This was classic light music we'd put on in Tenside while either you
        or I (or both) were studying. I probably played it from my phone that
        first night we were in Tenside -- when we slept on the floor because we
    didn't have any furniture yet.</i></p>

	<h3>14) Angles and Airwaves - Secret Crowds</h3>
	<p><i>I think that we started listening to this right around the Clemson -
        GT transition years. How about me driving back to Clemson or you driving
    over to GT every weekend so that we could see each other?</i></p>

	<h3>15) Blink 182 - Bored To Death</h3>
    <p><i>blink-182 makes a comeback. I burned this one for you too, but then I
                    think we realized you didn't have a CD player in your
                    (first) new
                    Civic (or maybe you
                    did...). We saw them <a
                    href="https://photos.app.goo.gl/qKkRR78iDzxDDkkT9"
                    target="_blank">in
                    concert</a>, and they happened to be playing on our wedding
    anniversary -- April 26, 2017.</i></p>

	<h3>16) Taylor Swift - Delicate</h3>
	<p><i>I couldn't leave out Taylor - she made the cut. I like this one
        because of the dark jeans and nikes. I have those things. I also wanted
    to put New Year's Day here. In fact, I'm going to <a
                    href="https://youtu.be/MWSn0H4qfAs" target="_blank">link to it here</a> as
    a bonus track. Hold on to the memories.</i></p>

	<h3>17) Pinkfong - Baby Shark</h3>
	<p><i>So technically these last two aren't in the youtube playlist. It looks
    like Google won't let you add kid's videos to playlists. I guess they don't
    want parents to plop kids in front of a huge TV playlist? Silly Google.
    Here's <a href="https://youtu.be/XqZsoesa55w" target="_blank">the link</a> just in case you
    really need it.</i></p>

	<h3>18) Badanamu - Dino Bus</h3>
    <p><i><a href="https://youtu.be/d9hg-7f_yMg" target="_blank">Get on the bus!</a> Ultimate dad song, and here we are, at the end. Just
        the end of this 18 though. I can't wait for the next. Love you!</i></p>

	</div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'assets/js/resume.js' %}"></script>

  </body>

</html>
