{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Personal site for Josh Pelkey">
    <meta name="author" content="Josh Pelkey">

    <title>Anna Gray Turns THREE!</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/devicons/css/devicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/resume.css' %}" rel="stylesheet">

  </head>

    <body id="page-top" style="background-image:
            url('https://image.spreadshirtmedia.com/image-server/v1/mp/designs/1011151945,width=178,height=178,version=1560604325/dinosaur-cartoon-on-skates.png');
            padding-left: 0px; margin-top: 120px">

      <div class="clara-mayne bg-light" style="padding: 5rem;">

          <div class="clara-header" style="margin-bottom: 1em;">

            <H1>Anna Gray Turns THREE! <i class="fa fa-heart" style="color:red" aria-hidden="true"></i></H1>

            <H4> She's a THREE-REX! Join us virtually on Zoom to celebrate:</H4>
            <p><i> Saturday March 27, 2021 @ 12:00PM EDT</i></p>

            <a class="btn btn-primary"
                href="https://citadelonline.zoom.us/j/92092783691?pwd%3DbTJpbDdEZXo5OHRVN0lMQWZ1WnJaUT09&sa=D&source=hangouts&ust=1615234692816000&usg=AFQjCNEHlJ3WDuwFr3BPWDti1kjTSCC1eg"
                role="button" target="_blank">Join the Party!</a>

          </div>

          <div class="clara-images text-center">
                <img class="img-responsive img-thumbnail"
                     src="https://lh3.googleusercontent.com/ZGMnnyQ__St-r3wQUUeFjo6CMh-qdUiG17aSeMRGdu4DLAnj6AXYIvI7xRfuCjh0RMpOXpcLiC9buDNhDDPLWXhjkWNs5xL7lheyrDTD76ohT_JEvsU4_B8CibjcmlLeqV1N4B-gFyQ9qJ-hG8Y_gYSxpofi00epQRJXB0JMiZB0NoBwfvsgKP9mvbwIZ-72J-qL8qgDl6hsgpPEl6GCjIFW89BDawUu0qThFhmxJy6PaD8scUFmDharkJ_g5H9WFGeNkxzPXVGSFLXMfJXCAeppM7iH459DenPJWnL7_nuXoTVsHElx4ruV9ORhaWCncRW7boSvW3giVu_tvvYXkKothLwHSqz8h2atI4MoYszHZd7vBFVLrRdb_OQPilkSIbxzpnFd4rqHVxMhvLYijSYFVRvglUWeoFTWWBhkBbt6jmW62BpY0Y-zGc5dnh2xrsMBF3r3s1mCbSfky3yaDHm84P539GJOztypDCzNZQFKlGFEl_aaiaQUuwNSlEUeuV9PbrnGur_SB2lYIqWd6veJIhQomNm6mxF7IdhLDYfJEcMEchBOufuRyPIXZjIpOkk74y6axIAa53Tcndlbm2giOiKZVXgEKCVgX1xysk97ZbIfoK8Z3sAif_-DX8_bwWbeQM0RBy7V5e_R5yc9HFKMJKioqdPhVyVXsoie1ZlomRtdLN1F7eBCH1O2OSg=w500-h300-no?authuser=0">

                <img class="img-responsive img-thumbnail"
                     src="https://lh3.googleusercontent.com/jRijHz6slUs48-CCJJ2TCbsICOLKzjLemk6sbIMwcVcfSM30CuF6D-fcuR-m1Yp4HSRvCKxmTIWaszCBDAYmyzFx7k18aC3C3Imu74BojlqpqIS9kddGDsvA9O_5g-Uis4JFDRxSrVreCcm_X3UI9y0Naev1vyIwFVJSqLSVomRzvBxys0uJOOjBGfwikYFe5f08AYNuQ5oKgPR2un3uq64YCkNMP5rcsG7cT0TWZ_rGdNDgf11kTAcctJnt5gJo60Unn_xIrjSqWIWv33wrg44kMtBsDmts8DjNGZVYED9p0YCsqiSunH_eD-FgNYHdigdWdoR86jZBNedqIauNywOG_kiLas5r3xVrRcVsqv3fMvxcGgFSLybd6IGeGAImjCrW__wEO8LP4EFzdGiVwg-XhqTwPaHeTRLUunaWt0a7fRQ3MwHcbmrCH-VMhSTgU_4bxJ39C9fcmjbuESu3zBE0XV7H9eFBskoaQUpfNTsWZbThio5Ei8dmIMkPN-_zMaVfcnxuT2loT8JxHOsJlkUH6LjcP9vm3BCdsYiRmASgdhOMHma2vWWUndzX3RwQ_oQDebEZtBoWxvUkk7Z8CR2fMDS4rU9VHwxAbI-rMA0rQQ3NgTZNWvuZu2pIOZmfFpGouhTiCqsEbaLl71jgfyA5G636xLl1sGJJtoqEBDwkOj4AJKxcOV52WJxWgtQ=w500-h300-no?authuser=0">

                <img class="img-responsive img-thumbnail"
                     src="https://lh3.googleusercontent.com/34LXj9HUasdduPcqOQ3Ui1DqfhgC9zofPt9rqMT4xuqZJ5m4EqewMGKu_CuaTgeqBV58Pg2aN1dllD-PoOsvg4Cawon51a6RBkQaS9xlZSsCS2Sl6DX7fVA5SCDLQ9tIr0Vo-t256cJo5HrZ4fMlDu-szp4l1vrVFTJBlywVYPDbdkYhqzh1XPJx-s5HcMic8Z1wEsv1cTRIEDtenMB-By1eqgEpfOv_DTw1dw9PRVPbqxsAaXpETUGiM96H8tCqwmD9bX9_fePcpNaSPsj0_DPAlIFAmT9A-aueIDO3tEKOmJNO3B7MQlFi2b-l41tiB4Fm_oTP_Av28HqPzRN2JU42GlafBzN476UeQZYgansQKxvR1RQjuhCb6TUhUDSFuSoSfO7o6jfsNAS74HB566Gci-3OG3aQrDNqmtszfBDAORCUvZra80TSOF4VOPCgrMpemYo7o8fZliW-OoBMTjAIWJoKQ1IEwTTWvyT6KguVCKQwEcEcDpFXl0V8u6q8HYUIl1LJdTI1-chkhHgzhZ8BsftR5GLf_O9k2az52hbdJPxUlMl4JVFqlMK22CQaUDlKuaxrqH5f7Gh-N5nNGEAYXGWSZJROGljZz4uYERxqieoJ9R644_tmF8cXwJ5kQl8TEpRQGK28awtA_ZgZVyDwc9XuhzLtERs-Ca9ObLAfdjxXad0JOa2jOmvAvYo=w500-h300-no?authuser=0">

          </div>

      </div>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Plugin JavaScript -->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for this template -->
        <script src="{% static 'assets/js/resume.js' %}"></script>

  </body>

</html>
