{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Personal site for Josh Pelkey">
    <meta name="author" content="Josh Pelkey">

    <title>Clara Jayne Turns ONE!</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/devicons/css/devicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/resume.css' %}" rel="stylesheet">

  </head>

  <body id="page-top" style="background-image:
            url('https://www.lavasurfer.com/wtp/c-group3-bg.gif'); padding-left: 0px;">

      <div class="clara-mayne bg-light" style="opacity: 0.85; padding: 5rem;">

          <div class="clara-header" style="margin-bottom: 1em;">

            <H1>Clara Jayne Turns ONE! <i class="fa fa-heart" style="color:red" aria-hidden="true"></i></H1>

            <H4> Thank you for joining us to celebrate Clara Jayne's first birthday!</H4>
            <p><i> Saturday November 21, 2020 @ 12:00PM EST</i> (<a href="https://youtu.be/CMveqH72MJM">watch the recording</a>)</p>

           <iframe width="560" height="315" src="https://www.youtube.com/embed/PdcocWzC5rI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </div>

      </div>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Plugin JavaScript -->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for this template -->
        <script src="{% static 'assets/js/resume.js' %}"></script>

  </body>

</html>
