{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Personal site for Josh Pelkey">
    <meta name="author" content="Josh Pelkey">

    <title>Clara Jayne Turns ONE!</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/devicons/css/devicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/resume.css' %}" rel="stylesheet">

  </head>

  <body id="page-top" style="background-image:
            url('https://www.lavasurfer.com/wtp/c-group3-bg.gif'); padding-left:
            0px; margin-top: 5rem">

      <div class="clara-mayne bg-light" style="opacity: 0.85; padding: 5rem;">

          <div class="clara-header">

            <H1>Clara Jayne Turns ONE! <i class="fa fa-heart" style="color:red" aria-hidden="true"></i></H1>

            <H4> Join us virtually on Zoom to celebrate Clara Jayne's first birthday!</H4>
            <p><i> Saturday November 21, 2020 @ 12:00PM EST</i></p>
            <a class="btn btn-primary"
                                  href="https://citadelonline.zoom.us/j/92356589389?pwd%3DT09zMlRKekJYeU8zSnJ0QnNXQnFkUT09&sa=D&source=calendar&usd=2&usg=AOvVaw0YrkyJFUtx6XuGQ9Gwcd5A"
                                  role="button">Join the Party!</a>
          </div>

            <div class="clara-images text-center mt-5">
                <img class="img-responsive img-thumbnail"
                src="https://lh3.googleusercontent.com/pw/ACtC-3dtIlNfX-lfnLMBZKoHEhF9oF0TseAsOf4yjQUXPZ29MLFoXZINlDdFWkHXOaTHeyTtE9AWAv2H1yqrSAibx8hWtAzsuY8UuQSCxcq1QI9Uk0GraE7z3tXGCP1OH5uNyssOJgTdIwp8HFuo9qU9vYWlZQ=w500-h300-no?authuser=0">

                <img class="img-responsive img-thumbnail"
                     src="https://lh3.googleusercontent.com/pw/ACtC-3fqn7lQBPpItkvnuMHMy0HaOAj_mvoHUXhdPhis8P1Mh3Nbn6ITdPWrSHfJvkVyOe9TYrXIV6kzpmojrHohgfyOL1-yqXmDT7YPu3AGIdOToalGwkos-dGls5bzGV30ccawdaLQSQMA6ceTe_-fHbEdDA=w500-h300-no?authuser=0">

                <img class="img-responsive img-thumbnail"
                     src="https://lh3.googleusercontent.com/pw/ACtC-3eNBgcET7HJvKdpCiT0zdvM1KP-ZGb2mOGmlhFHNKVYfUdn37aCxTyxOgn6UJSVCAdcZrmT6jcD6i1Y6HleiE-RO8Fte8tDXlb7EQmhh1dyE8R7wwVCBsGj3WGBxoUPbOMoCmvH4J6-nmzTYPVwZGqB9A=w500-h300-no?authuser=0">
            </div>

      </div>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Plugin JavaScript -->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for this template -->
        <script src="{% static 'assets/js/resume.js' %}"></script>

  </body>

</html>
