{% load staticfiles %}

<html><head>
 <!DOCTYPE HTML PUBLIC
 "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<LINK REL="SHORTCUT ICON" HREF="favicon.ico">
<link rel="stylesheet" href="ece.css" type="text/css">
<title>Josh Pelkey</title>
</head>
<body>
<div id="outer">
<div id="inner">
<h1>Josh Pelkey</h1>
<hr>
<img src="files/selfie.jpg" align="right" class="me" />
<p><b>joshpelkey at gmail</b><br/>
Mount Pleasant, SC
</p>

<h2>Summary</h2>
<p>
I live in Mount Pleasant. I schooled for a while. Now, I work / play.

<!--
I'm a graduate student in the School of Electrical and Computer Engineering
at Georgia Tech.  I am working as a research assistant under
<a href="http://www.ece.gatech.edu/faculty-staff/fac_profiles/bio.php?id=86">Dr. George Riley</a>.
-->
</p>

<h2>Education</h2>
<p>
M.S.E.C.E., 2008-2010<br>
Georgia Institute of Technology<br><br>

B.S. Computer Engineering, 2003-2008<br>
Clemson University
</p>

<h2>Work</h2>
<p>
Product Manager at <a href="http://www.air-watch.com">VMware AirWatch</a>, enabling organizations across a wide
variety of industries to secure, monitor, manage and support their entire fleet of mobile assets with cutting-edge
enterprise mobility technology.

<!--
My research interests include the areas of computer networks and wireless communication.
I am very interested in mobile ad-hoc networks, wireless sensor and mesh networks, cognitive networks,
mobile computing, and satellite communication. I also have a great interest in computer network simulation.
-->
</p>

<h2>Play</h2>
<p>
<b>music</b> (listening, creating, recording)<br/>
<b>games</b> (video, card, board)<br/>
<b>beer</b> (craft, homebrewing)<br/>
<b>open-source software</b> (using, promoting, contributing)</br><br/>
All kinds of other stuff too.
<!--
As a research assistant, I work as a maintainer for the <a href="http://www.nsnam.org/">ns-3</a> network
simulator project.  I was the release manager for the <a href="http://www.nsnam.org/wiki/index.php/Ns-3.8">
ns-3.8 release</a>, with 8 new user-visible features and over 75 bug fixes.
I also do a bit of development work. In 2009, I finished a well-known simulation-specific
routing protocol, nix-vector routing, which allows high-performance realistic routing for large-topology
networks.  You can find my code for nix-vector routing in ns-3
<a href="http://code.nsnam.org/jpelkey3/ns-3-nix-vector-routing">here</a>. It was
merged into the main branch for the ns-3.6 release. I also finished a MPI inteface for distributed
simulation in ns-3, which was merged in to ns-3.8.  The code can be found
<a href="http://code.nsnam.org/jpelkey3/ns-3-distributed">here</a>. In the summer of 2010,
I served as a mentor in the <a href=http://code.google.com/soc/>Google Summer of Code</a> for the ns-3 project.  I mentored Blake Hurd
who contributed an interface to the OpenFlow API and supporting code to enable simulations in ns-3
with OpenFlow switches.  His project page can be found
<a href="http://www.nsnam.org/wiki/index.php/GSOC2010OpenFlow">here</a>.
-->
</p>
<hr>
<div id="footer">
	<a href="http://www.linkedin.com/pub/josh-pelkey/22/501/ba8" target="_blank"><img src="files/linkedin-32x32.png" /></a>
	<a href="http://twitter.com/joshpelkey" target="_blank"><img src="files/twitter-32x32.png" /></a>
	<a href="https://t.me/joshpelkey" target="_blank"><img src="files/telegram-32x32.png" /></a>
	<a href="http://www.facebook.com/joshpelkey" target="_blank"><img src="files/facebook-32x32.png" /></a>
	<a href="https://github.com/joshpelkey" target="_blank"><img src="files/github-32x32.png" /></a>

	<div id="footerText"><i>Last updated: 15 May 2018</i></div></div>

	<br/>
	<strong>eth:</strong> 0xf55d0f9bab9bad05d8d8b1bdbcd2bd4d9210108a<br/>
	<strong>ltc:</strong> LVNWdioa425SZNR35zjyigRiSKkdSKgp3M<br/>
	<strong>xrp:</strong> rPVMhWBsfF9iMXYj3aAzJVkPDTFNSyWdKy<br/>
	<strong>btc:</strong> 17ER8MgBtuY9iBEhHWKs2Spg114w9KoJEb<br/>
	<strong>bch:</strong> 13Lr8zNvska1SaqMhDjejZXMetwD9SnV3B<br/>
	<strong>xvg:</strong> DR4Z8H4msgajKFNUYKZtEaWKgTwrZRUauQ<br/>

		<!--
		<iframe align='right' height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='http://app.strava.com/athletes/1102183/activity-summary/bd83edf0b030292192dc867ba75ad380909a0f4a'></iframe>
		-->

</div>
</div>

</body></html>
